.category-content{
    margin-top: 50px;
    background-color: #FFF;
}
.category-divider{
    text-align: center;
    width:60%;
    margin-left: 20%;
    padding-bottom: 10px;
}
.category-title{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;

}

.category-card{
    height: 400px;
    width: 80%;
    box-shadow: none;
}
.category-card:hover{
    cursor: pointer;
}
.category-card img{
    height: 60%;
    width: auto;
    margin-left: 5px;
}
.title-divider{
    width: 30%;
}
.section-title{
    text-align: left;
}

@media (max-width: 1020px) {
    .grid-container{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .grid-container{
        grid-template-columns: auto;
    }
}