<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a [routerLink]="['/']" class="router-link">My Shop</a></span>
    <span class=""></span>
    <span class="example-spacer"></span>
    <span>
    <app-search></app-search>
  </span>
    <button mat-button [matMenuTriggerFor]="menu">
      John <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>My Account</button>
    <button mat-menu-item>Orders</button>
    <button mat-menu-item>Log out</button>
    </mat-menu>
  </mat-toolbar>
